@font-face {
    font-family: 'ancient';
    src: url('ancient.woff2') format('woff2'),
         url('ancient.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abhayalibre';
    src: url('abhayalibre.woff2') format('woff2'),
         url('abhayalibre.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.MuiButton-label {
    color: #fff;
}